body{
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}

.box{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    border: 2px solid black;
    white-space: normal;
    overflow-wrap: anywhere;
    text-wrap: pretty;
}
h1{
    text-wrap: balance;
}