body{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #FFF0DD;
    
}
/** --- HEADER SECTION --- */
.img__gengar{
    max-height: 300px;
    border-radius: 100%;
}
.header{
    min-height: 80vh;
    box-sizing: border-box;
    background-image: url("img/bkgHeader.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    color: white;
}
.header__overlay{
    min-height: 80vh;
    width: 100%;
    background-color: rgba(253, 208, 112, 0.133);
    position: absolute;
    z-index: 1;
}
.header__item-container{
    z-index: 10;
    position: relative;
    margin: auto;
    text-align: center;
    max-width: 700px;
}
.header__item-container p{
    text-wrap: pretty;
}  
h1{
    margin: 0;
    font-size: 3.6rem;
    text-wrap: balance;
}
/**--- NAVBAR SECTION --- */

.nav{
    background-color: #fcfcfc;
    display: flex;
    justify-content: center;
    
    padding: 0px 100px 0 40px;
    flex-wrap: wrap;
}
.nav__ul{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.nav__item{
    list-style: none;
    
}
.nav__link{
    color: #1581BF;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: 15px;
    border-radius: 0;
    transition: background-color 0.3s, border-radius 0.3s;

}
.nav__link:hover{
    background-color: #1581bf94;
    color: #fff;
    border-radius: 20px;
}
.nav__logo{
    width: 100px;
}
.link--login{
    background-color: #1581BF;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 40px;
}

