body{
    margin: 0;
    font-family: sans-serif;
}

.flexbox{
    display: flex;
    flex-flow: wrap;
    border: 2px solid black;
    margin: 30px;
    justify-content: space-evenly;
    align-items: start;
    height: 400px;
}
.flex-item{
    width: 200px;
    font-size: 40px;
    background-color: red;
    text-align: center;
    color: white;
}
.flex-item:first-child{
    background-color: rgb(240, 102, 102);
}
.flex-item:last-child{
    background-color: black;
}