body{
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}

.flexbox{
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
    border: 2px solid black;
    margin: 30px;
    gap: 10px;

}
.flex-item{
    
    font-size: 40px;
    text-align: center;
    color: white;
    background-color: red;
    flex: 1 1 250px;
}
.flex-item:first-child{
    background-color: rgb(240, 102, 102);
}
.flex-item:last-child{
    background-color: black;
}